# CMake files
**/.cache/
**/.cmake/
**/CMakeCache.txt
**/CMakeFiles/
**/Makefile
**/cmake_install.cmake
**/compile_commands.json
**/build/
**/LoopMac/
**/*.cmake
**/_deps/
**/DartConfiguration.tcl

# CTest files
**/CTestTestfile.cmake
**/Testing/

# Qt files
**/.qt/
**/.rcc/
**/meta_types/
**/qmltypes/

# macOS files
**/*.app/

# Project files
app/qml/qmldir
app/qml/qml/

# VSCode files
*.code-workspace
launch.json

# Audio files
*.wav
